<?xml version="1.0" encoding="ISO-8859-1"?>

<!-- To be installed as: -->
<!-- /usr/share/xscreensaver/config/ariadne.xml -->

<screensaver name="ariadne" _label="Ariadne">

  <_description>
    The Ariadne application builds and solves a variety of maze puzzles.

    To start its configurator from the command line:
    Open a Terminal window and enter the command

    ariadne -o

    Or find the

    Ariadne (Options)

    entry in the "Settings" section of your main application menu.
  </_description>
</screensaver>
