#! /bin/sh

if [ "$1" = "--uninstall" ] ; then
    <UNINSTALL>
    exit
fi

if [ "$1" = "-h" -o "$1" = "-?" ] ; then
    cat <<EOF
usage: $0 [OPTION]

  -o		Show an options dialog. Here you can change the options
		used in fullscreen/screensaver mode.
  -f		Start in fullscreen mode.
  --uninstall	Uninstall the Ariadne application.
EOF
    exit
fi

mono <LIB>/Ariadne/Ariadne.exe "$@"
