# -*- mode: Conf; -*-

[Desktop Entry]
Name=Ariadne (Fullscreen)
Exec=mono <LIB>/Ariadne/Ariadne.exe -f
Icon=<LIB>/Ariadne/Resources/AriadneIcon_32x32.ico
Comment=Generates and solves mazes (fullscreen mode).
StartupNotify=true
Terminal=false
Type=Application
Categories=Graphics
