# -*- mode: Conf; -*-

[Desktop Entry]
Name=Ariadne (Options)
Exec=mono <LIB>/Ariadne/Ariadne.exe -o
Icon=<LIB>/Ariadne/Resources/AriadneIcon_32x32.ico
Comment=Change the Ariadne screensaver/fullscreen properties
StartupNotify=false
Terminal=false
Type=Application
Categories=Settings
