# -*- mode: Conf; -*-

[Desktop Entry]
Name=Ariadne (Interactive)
Exec=mono <LIB>/Ariadne/Ariadne.exe
Icon=<LIB>/Ariadne/Resources/AriadneIcon_32x32.ico
Comment=Generates and solves mazes.
StartupNotify=true
Terminal=false
Type=Application
Categories=Graphics
